useDynLib(xmlrectr, .registration = TRUE)

importFrom(utils,head,tail)

export(xml_nodes_schema)
export(xml_to_nodes_memory)
export(xml_text_to_nodes_memory)
export(xml_stream_nodes)
export(xml_to_nodes_stream)
export(validate_xml_nodes)
export(xml_node_children)
export(inspect_xml)
export(make_rectangle)
export(rectangle_spec)
export(xml_profile)
export(as_xml_profile)
export(write_xml_profile)
export(read_xml_profile)
export(compile_xml_profile)
export(review_rectangle)
export(inspect_xsd)
export(propose_xml_profile)
export(review_xml_proposal)
export(xml_rectangle)
export(rectangle_xml)
export(xml_stream_rectangle)
export(rectangle_xml_csv)
export(rectangle_xml_parquet)
export(xml_rectangle_parallel)
export(rectangle_xml_parallel)
export(xml_stream_rectangle_parallel)
export(xml_analyst_table)
export(xml_analyst_expand_context)
export(rectangle_xml_analyst)
export(rectangle_xml_analyst_csv)
export(rectangle_xml_analyst_parquet)

S3method(print,xml_structure)
S3method(as.list,xml_profile)
S3method(print,xml_profile)
S3method(print,xml_rect_spec)
S3method(print,xml_xsd_inspection)
S3method(print,xml_profile_proposal)
